/*styles*/

@/* TODO(you) : What is this doing to your page? */
body{
  font-family: : monospace;
}

main{
	margin : 20px;

}
h3{
  color: grey;
}
img{
/*@TODO(you) : Modify size accordingly*/
width : 40%;
}
